{
    "presets": [
        [
            "@babel/preset-env",
            {
                "useBuiltIns": false,
                "targets": {
                    "node": "current",
                    "browsers": [
                        "> 0.25%",
                        "not dead"
                    ]
                }
            }
        ]
    ],
    "plugins": [
        "@babel/plugin-transform-runtime",
        "@babel/plugin-transform-regenerator",
        "@babel/plugin-proposal-object-rest-spread",
        "@babel/plugin-transform-template-literals"
    ]
}
